/* ******************   Variables    **************** */

// Screen Sizes

$phoneScreenSize: 700px;
$desktopScreenSize: 1024px;

// Colors

$colour-primary: #FF6060;
$colour-secondary: #FFFFFF;
$colour-tertiary: #F7F7F7;

$colour-card: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);