.main-error {
    color: $colour-primary;
    margin-top: 195px;
    text-align: center;
    @media (min-width: $phoneScreenSize) {
        font-size: 169px;
    }
    & h1 {
        font-size: 96px; 
        font-weight: 700;       
        @media (min-width: $phoneScreenSize) {
            font-size: 288px;
        }
    }
    & h2 {
        font-size: 18px;
        font-weight: 500;
        width: 50%;
        margin: auto;
        margin-top: 11px;
        @media (min-width: $phoneScreenSize) {
            margin-top: 66px;
            font-size: 36px;
            width: auto;
        }
    }
    & p {
        margin-top: 133px;
        margin-bottom: 235px;
        @media (min-width: $phoneScreenSize) {
            margin-top: 182px;
            margin-bottom: 159px;
        }
        & a {
            color: $colour-primary;
            text-decoration: underline;
            font-size: 14px;
            @media (min-width: $phoneScreenSize) {
                font-size: 18px;
            }
        }
    }
}